body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 2em;
    width: 300px;
    max-width: 90%;
    text-align: center;
    transition: transform 0.3s ease;
}

.login-container:hover {
    transform: translateY(-5px);
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form h2 {
    margin-bottom: 1em;
    color: #333;
    font-size: 1.5em; /* Menyesuaikan ukuran font untuk judul */
}

.form-group {
    margin-bottom: 1em;
    text-align: left;
}

.form-group label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.5em;
    color: #555; /* Warna label yang lebih terang */
}

.form-group input {
    padding: 0.75em; /* Menyesuaikan padding input */
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 1em 2em; /* Menyesuaikan padding untuk tombol */
    cursor: pointer;
    border-radius: 4px;
    font-size: 1em;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #45a049;
    transform: scale(1.05); /* Efek scaling saat tombol dihover */
}
